# Configuración de la base de datos
DB_USER=tu_usuario_db
DB_PASSWORD=tu_password_db
DB_HOST=localhost
DB_PORT=5432
DB_NAME=tu_base_de_datos

# JWT Configuration
JWT_KEY=tu_clave_secreta_jwt_muy_larga_y_segura

# Google OAuth Configuration
GOOGLE_CLIENT_ID=tu_google_client_id_aqui
GOOGLE_CLIENT_SECRET=tu_google_client_secret_aqui
GOOGLE_CALLBACK_URL=http://localhost:8000/auth/google/callback

# Google Mail Configuration (opcional)
GOOGLE_MAIL_HOST=smtp.gmail.com
GOOGLE_MAIL_PORT=587
GOOGLE_MAIL_SECURE=true
GOOGLE_MAIL_USER=tu_email@gmail.com
GOOGLE_MAIL_PASS=tu_password_de_aplicacion

# Servicios de google
GOOGLE_APPLICATION_CREDENTIALS="credencial de google, para el acceso a varios servicios"
GOOGLE_BUCKET_NAME="nombre del bucket"

# wompy
WOMPY_URL="https://sandbox.wompi.co/v1/"
WOMPY_PRIVATE_KEY=""
WOMPY_PUBLIC_KEY=""
WOMPY_EVENT_KEY=""
WOMPY_INTEGRITY_KEY=""

#crm
CRM_API_URL="https://api.cmr.com/v1/"
CRM_CUSTOM_IDENTIFICATION_FIELD="UF_CRM_XXXXXXXX"